body{
    margin: 0;
    background-color: #dbd9d9;
}
#logo{
    width: 48px;
}

header{
    background-color: black;
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
}
#nav{
    list-style-type: none;
    display : flex;
    flex-direction : row;
    gap: 20px;
}
a{
    color: white;
}
#section1,#section2{
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
}
    
#avatar{
    width: 140px;
    height: 140px;
}
h1,h2{
    background-color: black;
    color: white;
}